:root
{
    font-size: 95%;

}

*{
    padding:30px;
    margin:8px;
}

html,body
{
    text-align: center;
    justify-content: center;
}

body
{

    color: #fcfcfc;
    font : 300 1.4rem Arial;
    background-color: #5438DC;

}

text{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

img 
{
    object-fit: cover;
    border: 10px solid #ffffff;

    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    height: 20rem;
}

